@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Changa+One&family=Oswald:wght@700&family=Poppins:wght@700&family=Roboto:wght@700;900&display=swap');


body {
    background-color: #050505;
    color: #fff;
    display: flex;
    justify-content: center;
}

.netflixsvg{
    width: 50vw;
    padding: 50px;
}

h1 {
    display: flex;
    justify-content: center;
    color: red;
    /* width: 100vw; */
    /* height: 100vh; */
    font-size: 150px;
    text-align: center;
    font-family: 'Oswald', sans-serif;

}

.div-order-btn{
    display: flex;
    justify-content: center;
}

.btn-orderTitle{
    border-radius: 7px;
    width: 75px;
    height: 75px;
}

.class-collectioUl {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.serie-title {
    /* text-align: center; */
    font-weight: bold;
    font-size: 30px;
    margin-top: 15px;
    margin-bottom: 15px;

}


.serie-li {

    /* border: solid 1px; */
    background-color: #141414;
    border-radius: 7px;

    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;

    width: 350px;
    padding: 20px;
    margin: 10px;
    overflow: auto;

}

.serie-upVotes-btn,
.serie-downVotes-btn {
    border: solid 1px white;
    max-width: max-content;

    background-color: #141414;
    font-size: 20px;
    margin: 7px;
    border-radius: 20px;

}
